/*====================*/
/*=== Reset Styles ===*/
/*====================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}


/*===================*/
/*=== Main Styles ===*/
/*===================*/

*{
	margin: 0;
	padding: 0;	 
}

body {
	width: 1000px;
	margin: 0 auto;
	background: #eeeeee;
	font-family: "Arial", serif;
	
/*	background-image:url(../images/bg.png);
	background-repeat: repeat-x; */
}

#header {
	/*height: 150px;*/
	padding: 5px 0;
}

#logo {
	background-image:url(../images/logo.gif);
	background-repeat: no-repeat;
    display:block;
    height:114px;
    text-indent:-9999px;
    width:236px;
}

#menu {
	float: fight;
}

#links {
	border-bottom: 3px solid black; 
	margin-top: 70px; 
	float: right; 
	width: 495px;
}

#menu a img {
	border: none;
}
	
#menu ul, #menu ul li, #footer ul {
	display: inline;
	list-style: none;	
}

#menu ul li a, 
#menu ul li a:visited, 
#menu ul li.active {
	display: block;
	color: #4c4b4a;
	padding: 10px 2px 0 2px;	
	float: right;
	width: 95px;
	height: 25px;
	font-weight: bold;
	font-size: 11pt;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	border: none;
	-moz-border-radius: 7px 7px 0 0;
	border-radius: 7px 7px 0 0;
}

#menu ul li.active {
	color: white;
	background: #4c4b4a;
}

#menu ul li a:hover {
	color: white;
	background: #f91d79;
}

#menu ul li a:active {
	background: #03bdf8;
}


/* Home
--------------------------------------------------------*/
div#banner {
	background: transparent url(../images/home/banner.png) no-repeat;
	width: 994px;
	height: 295px; /*372px;*/
	padding: 40px 80px;
}

div#banner h1 {
	font-size: 22pt;
	color: #f91d79;
}

div#banner h1 span {
	font-size: 28pt;
}

div#banner p {
	font-size: 23px;
	line-height: 180%;
	margin-top: 28px;	
	color: #4c4b4a;
}
div#buttons {
	margin-top: 5px;
}

div.btn {
	border: 1px solid #e1e1e1;
	-moz-border-radius: 7px;
	border-radius: 7px;
	font-size: 21pt;
	width: 273px;
	height: 100px;
	padding: 20px;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.37);
    float: left;
    margin-right: 22px;
}

div.last {
	margin: 0;
}

div.btn a {
	text-decoration: none;
	color: #4c4b4a;
	text-transform: capital;
}

div.btn a:hover {
	color: #f91d79;
}

div#websites-btn a {
	background: transparent url(../images/home/websites-normal.png) no-repeat bottom right;
	padding: 0px 147px 90px 0px;
}

div#websites-btn a:hover {
	background: transparent url(../images/home/websites-over.png) no-repeat bottom right;
}

div#icons-btn a {
	background: transparent url(../images/home/icons-normal.png) no-repeat bottom right;
	padding: 0px 199px 91px 0px;
}

div#icons-btn a:hover {
	background: transparent url(../images/home/icons-over.png) no-repeat bottom right;
}

div#print-btn a {
	background: transparent url(../images/home/print-normal.png) no-repeat bottom right;
	padding: 0px 207px 81px 0px;
}

div#print-btn a:hover {
	background: transparent url(../images/home/print-over.png) no-repeat bottom right;
}

/* Footer
--------------------------------------------------------*/
#footer {
	width: 100%;
	margin-top: 30px;
	line-height: 15px;
}

#footer hr, #footer hr.bottom {
	border-top: 1px solid #cecdcd;
	border-bottom: 1px solid white;	
	display: block;	
	margin: 0;
}

#footer hr.bottom {
	margin-top: -14px;
}

#footer ul li:first-child {
	margin-right: 8px;	
}

#footer ul li a, #footer ul li, 
#footer ul li a:visited {
	display: block;	
	float: right;
	width: 24px;
	height: 24px;	
	text-decoration: none;
	text-align: center;
	margin: 2px 2px 4px 2px;	
	background-repeat: no-repeat;
    text-indent:-9999px;
}

#footer img {
	display: block;	
	float: right;
	margin: 5px 10px 0 0;
	background-color: #eeeeee;
}


a#blogger {
	background: url(../images/blogger.png);
}

a#email {
	background-image:url(../images/email.png);    
}

a#facebook {
	background-image:url(../images/facebook.png);    
}

a#linkedin {
	background-image:url(../images/linkedin.png);    
}

a#picasa {
	background-image:url(../images/picasa.png);    
}

a#youtube {
	background-image:url(../images/youtube.png);    
}

a#twitter {
	background-image:url(../images/twitter.png);    
}

#footer ul li a:hover {
	background-position: 0 -24px;
}